# Test reports（测试报告）

当运行单元测试的时候，Gradle会输出一份HTML格式的报告以方便查看结果。
Android plugin也是基于此，并且扩展了HTML报告文件，它将所有连接设备的报告都合并到一个文件里面。
